<form class="max-w-xlg mx-auto mt-8 border border-gray-300 p-6 rounded-md" (ngSubmit)="onSubmit()" [formGroup]="diamondForm">
    <!-- Text Fields -->
    <div class="flex flex-wrap -mx-4 mb-4">
        <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0" *ngFor="let field of textFields">
            <label class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}:</label>
            <input type="{{ field.type }}" class="form-input rounded-md w-full" formControlName="{{ field.controlName }}">
            <div *ngIf="diamondForm.get(field.controlName)?.invalid && diamondForm.get(field.controlName)?.touched" class="text-red-500 text-xs font-bold ">Invalid {{ field.label }}!</div>
        </div>

    </div>

    <div class="flex flex-wrap -mx-4 mb-4">

    <div class="w-full md:w-1/3 px-4 mb-4 md:mb-0">
        <label class="block text-gray-700 text-sm font-bold mb-2">Party:</label>
        <select class="form-select rounded-md w-full" formControlName="paltyId" (change)="onPartyChange($event)">
            <option value="" disabled selected >Select Palty</option>
            <option *ngFor="let option of paltyOptions" [value]="option._id">{{ option.name }}</option>
        </select>
        <div *ngIf="diamondForm.get('paltyId')?.invalid && diamondForm.get('paltyId')?.touched" class="text-red-500 text-xs font-bold">Please select a Party!</div>

    </div>

    <div class="w-full md:w-1/3 px-4 mb-4 md:mb-0">
        <label class="block text-gray-700 text-sm font-bold mb-2">Party Price:</label>
        <select class="form-select rounded-md w-full" formControlName="priceId">
            <option value="" disabled selected >Select Palty Price</option>
            <option *ngFor="let option of priceOptions" [value]="option._id">{{ option.fullPrice }}</option>
        </select>
        <div *ngIf="diamondForm.get('priceId')?.invalid && diamondForm.get('priceId')?.touched" class="text-red-500 text-xs font-bold">Please select a Party Price!</div>

    </div>
    </div>

    <!-- Dropdowns -->
    <div class="flex flex-wrap -mx-4 mb-4">
        <div class="w-full md:w-1/3 px-4 mb-4 md:mb-0" *ngFor="let dropdown of dropdowns">
            <label class="block text-gray-700 text-sm font-bold mb-2">{{ dropdown.label }}:</label>
            <select class="form-select rounded-md w-full" formControlName="{{ dropdown.controlName }}">
                <option value="" disabled selected>Select {{dropdown.label}}</option>

                <option *ngFor="let option of dropdown.options" [value]="option">{{ option }}</option>
            </select>
            <div *ngIf="diamondForm.get(dropdown.controlName)?.invalid && diamondForm.get(dropdown.controlName)?.touched" class="text-red-500 text-xs font-bold">Please select a {{ dropdown.label }}!</div>

        </div>
    </div>

    <!-- Submit Button -->
    <div class="flex justify-end">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
    </div>
</form>
