<div class="table-container">
    <!-- <div class="p-toolbar">
        <div class="p-toolbar-group-left">
            
                <button pButton type="button" label="Add Record" icon="pi pi-plus" class="custom-button"></button> -->
             <!-- <input #searchInput pInputText   class="searchBar" type="text" (input)="dt?.filterGlobal(searchInput.value, 'contains')" placeholder="Global Search"> --> 
             
        <!-- </div> -->
      
    <!-- </div> -->
    <div class="loader-overlay" *ngIf="loading">
        <!-- Loader -->
        <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
    </div>
    
    <p-table [value]="diamonds"  *ngIf="!loading" #dt [paginator]="true" [rows]="10" [totalRecords]="100" [rowsPerPageOptions]="[10, 20,50,100]" [globalFilterFields]="['code','number']">
      
        <ng-template pTemplate="caption">
            <div class="flex toolbar">
                <button pButton type="button" label="Issue Return" icon="pi pi-plus" class="custom-button"  (click)="openCompletedDiamondDialog()"></button>
                <span class="p-input-icon-right ml-auto">
                    <input #searchInput pInputText   class="searchBar" type="text" (input)="dt?.filterGlobal(searchInput.value, 'contains')" placeholder="Search Code or Diamond..">
                    <i class="pi pi-search  search-icon"></i>
                </span>
            </div>

        </ng-template>
        
        <ng-template pTemplate="header">  
            <tr>
                
                <th>index</th>
                <th>code</th>
                <th >Employee Name</th>
                <th >Diamond Number </th>
                <th >Comment</th>
                <th >Status</th>
                <th >Date</th>
                <!-- <th>Action</th>  -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-diamonds let-i="rowIndex">
            <tr>
                <td>{{ i + 1 }}</td>    
                <td>{{diamonds.employeeId.employeeId}}</td>
                <td>{{diamonds.name}} </td>
                <td>{{diamonds.diamondId.kapanNumber}}</td>
                <td>{{diamonds.diamondId.comment ?diamonds.diamondId.comment:'--' }}</td>
                <td class="px-2 py-0.5 ml-auto">
                    <span class="text-md font-medium tracking-wide text-green-500 bg-green-50 rounded-full px-2 py-1">{{diamonds.status}}</span>
                    <td>{{diamonds.startTime | date}}</td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="15" class="nodataimg" style="position: relative; height: 500px; width: 100%; text-align: center;">
                    <img src="../../assets/No data.jpg" alt="No Data Found Image" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-height: 100%; max-width: 100%;">
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


