<!-- login.component.html -->
<div class="flex justify-center items-center min-h-screen bg-gray-200">
    <div class="bg-white p-8 rounded-lg shadow-lg md:w-1/3">
      <div class="text-center mb-8">
        <img src="assets/logo.png" alt="Company Logo" class="h-16 mx-auto">
        <h2 class="text-xl font-semibold mt-2">Sign in to your account</h2>
      </div>
      <form class="space-y-4" (ngSubmit)="login()">
        <div>
          <label for="email" class="block mb-1">Email Address</label>
          <input type="email" id="email" class="w-full px-4 py-2 rounded border focus:outline-none focus:border-blue-400" placeholder="Enter your email" [(ngModel)]="email" name="email" required>
        </div>
        <div class="relative">
          <label for="password" class="block mb-1">Password</label>
          <input type="password" id="password" class="w-full px-4 py-2 rounded border focus:outline-none focus:border-blue-400" placeholder="Enter your password" [(ngModel)]="password" name="password" required>
          <!-- <button type="button" class="absolute inset-y-0 right-0 flex items-center px-4" (click)="togglePasswordVisibility()">
            <i class="fa" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button> -->
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Sign In</button>
      </form>
    </div>
  </div>
  