.router-link-active {
    color: blue; /* Change this to the desired active color */
    background-color: #E2E8F0;
    font-weight: bolder;
  }
  
  
  
  
  .logo-text{
    color: black;
    margin-left: 10px;
    margin-top: 10px;
  }

  