<form class="max-w-xlg mx-auto mt-8 border border-gray-300 p-6 rounded-md" (ngSubmit)="onSubmit()" [formGroup]="employeeForm">
    <div class="mb-8">
        <label class="block text-gray-700 text-sm font-bold mb-2">Upload Profile:</label>
        <div class="relative">
            <input type="file" class="form-input rounded-md w-full opacity-0 absolute inset-0" (change)="onFileSelected($event)" name="profilePicture">
            <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-md " style="cursor: pointer;">
                Select File
            </button>
            <img *ngIf="profilePreview" [src]="profilePreview" class="rounded-md float-right" style="max-width: 100px; max-height: 80px; margin-top: -37px;">
        </div> 
        <!-- File Preview -->
    </div>
    
    <div class="flex flex-wrap -mx-4  mt-2  mb-4">
        <!-- First Name -->
        <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
            <label class="block text-gray-700 text-sm font-bold mb-2">First Name:</label>
            <input type="text" class="form-input rounded-md w-full"  formControlName="firstName">
            <div *ngIf="employeeForm.get('firstName')?.touched && hasError('firstName', 'required')" class="text-red-500 text-xs font-bold">First Name is required !</div>

        </div>

     

        <!-- Last Name -->
        <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
            <label class="block text-gray-700 text-sm font-bold mb-2">Last Name:</label>
            <input type="text" class="form-input rounded-md w-full" formControlName="lastName">
            <div *ngIf="employeeForm.get('lastName')?.touched && hasError('lastName', 'required')" class="text-red-500 text-xs font-bold">Last Name is required !</div>

        </div>
    </div>

    <!-- Mobile Number and Aadhaar Number -->
    <div class="flex flex-wrap -mx-4 mb-4">
        <!-- Mobile Number -->
        <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
            <label class="block text-gray-700 text-sm font-bold mb-2">Mobile Number:</label>
            <input type="tel" class="form-input rounded-md w-full" formControlName="mobileNo">
            <div *ngIf="employeeForm.get('mobileNo')?.touched && hasError('mobileNo', 'required')" class="text-red-500 text-xs font-bold">Mobile Number is required !</div>
            <div *ngIf="employeeForm.get('mobileNo')?.touched && hasError('mobileNo', 'pattern')" class="text-red-500 text-xs font-bold">Invalid Mobile Number !</div>

        </div>

        <!-- Aadhaar Number -->
        <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
            <label class="block text-gray-700 text-sm font-bold mb-2">Aadhaar Number:</label>
            <input type="text" class="form-input rounded-md w-full" formControlName="aadhaarNumber">
            <div *ngIf="employeeForm.get('aadhaarNumber')?.touched && hasError('aadhaarNumber', 'pattern')" class="text-red-500 text-xs font-bold">Aadhaar Number must be 12 digits !</div>

        </div>
    </div>

    <!-- Upload Profile and Aadhaar Card Profile Pic -->
    <div class="flex flex-wrap -mx-4 mb-4">
        <!-- Upload Profile -->
        <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
            <label class="block text-gray-700 text-sm font-bold mb-2">Aadhaar Card Profile Pic (Front):</label>
            <div class="relative">
                <input type="file" class="form-input rounded-md w-full opacity-0 absolute inset-0" (change)="onAadhaarPicSelected($event)" name="profilePicture">
                <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-md cursor-pointer">
                    Select File
                </button>
            </div>            
        </div>

        <!-- Aadhaar Card Profile Pic -->
        <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
            <label class="block text-gray-700 text-sm font-bold mb-2">Aadhaar Card Profile Pic (Back):</label>
            <div class="relative">
                <input type="file" class="form-input rounded-md w-full opacity-0 absolute inset-0" (change)="onAadhaarPicSelected($event)" name="profilePicture">
                <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-md cursor-pointer">
                    Select File
                </button>
            </div>               
        </div>
    </div>

    <!-- Residential Address -->
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Residential Address:</label>
        <textarea class="form-textarea rounded-md w-full" formControlName="address"></textarea>
        <div *ngIf="employeeForm.get('address')?.touched && hasError('address', 'required')" class="text-red-500 text-xs font-bold">Address is required !</div>

    </div>

    <!-- Reference Name -->
    <div class="flex flex-wrap -mx-4 mb-4">
        <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
            <label class="block text-gray-700 text-sm font-bold mb-2">Reference Name:</label>
            <input type="text" class="form-input rounded-md w-full" formControlName="referenceName">
        </div>

        <!-- Reference Mobile Number -->
        <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
            <label class="block text-gray-700 text-sm font-bold mb-2">Reference Mobile Number:</label>
            <input type="tel" class="form-input rounded-md w-full" formControlName="referenceMobileNo">
        </div>
    </div>

    <div class="flex justify-end">
        <button type="submit"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
    </div>
</form>
