<div class="table-container">
    <!-- <div class="p-toolbar">
        <div class="p-toolbar-group-left">
            
                <button pButton type="button" label="Add Record" icon="pi pi-plus" class="custom-button"></button> -->
             <!-- <input #searchInput pInputText   class="searchBar" type="text" (input)="dt?.filterGlobal(searchInput.value, 'contains')" placeholder="Global Search"> --> 
             
        <!-- </div> -->
      
    <!-- </div> -->
    <div class="loader-overlay" *ngIf="loading">
        <!-- Loader -->
        <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
    </div>
    
    <p-table [value]="parties"  *ngIf="!loading" #dt [paginator]="true" [rows]="10" [totalRecords]="100" [rowsPerPageOptions]="[10, 20,50,100]" [globalFilterFields]="['name', 'id','mobileNo','referenceName']">
      
        <ng-template pTemplate="caption">
            <div class="flex toolbar">
                <button pButton type="button" label="Add Record" icon="pi pi-plus" class="custom-button"  (click)="openAddpartyDialog()"></button>

                <span class="p-input-icon-right ml-auto">
                    <input #searchInput pInputText   class="searchBar" type="text" (input)="dt?.filterGlobal(searchInput.value, 'contains')" placeholder="Global Search">
                    <i class="pi pi-search  search-icon"></i>
                </span>
            </div>
        </ng-template>
        
        <ng-template pTemplate="header">  
            <tr>
                <th pSortableColumn="name">Party Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="mobileNo">Mobile Number <p-sortIcon field="mobileNo"></p-sortIcon></th>
                <th pSortableColumn="gstNo">GST Number <p-sortIcon field="gstNo"></p-sortIcon></th>
    
                <th>Action</th> 
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-party>
            <tr>
                <td>{{party.name}}</td>
                <td>{{party.email}}</td>
                <td>{{party.mobileNo}}</td>
                <td>{{party.gstNo}}</td>
            
                <td>
                    <button pButton icon="pi pi-eye" class="p-button-rounded view-icon"  (click)="viewParty(party)"></button>

                    <button pButton icon="pi pi-pencil"   class="p-button-rounded edit-icon" (click)="openAddpartyDialog(party)"></button>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="15" class="nodataimg" style="position: relative; height: 500px; width: 100%; text-align: center;">
                    <img src="../../assets/No data.jpg" alt="No Data Found Image" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-height: 100%; max-width: 100%;">
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
