<div class="confirmation-dialog-container">
<div class="confirmation-dialog flex flex-col items-center justify-center relative bg-white rounded-lg shadow-lg p-8 max-w-md mx-auto">
    <div class="icon-and-text flex items-center mb-6">
        <i class="pi pi-exclamation-triangle text-red-600 text-lg mr-2"></i>
        <span class="text-lg font-semibold">Issue Resolve Confirmation!</span>
    </div>
    <div class="text-center mb-6">
        <p class="text-gray-700">Are you sure you want to change the employee for this diamond? If yes, please choose an employee.</p>
    </div>

    <div>
        <select [(ngModel)]="selectedEmployee" (change)="onEmployeeSelect($event)">
            <option value="" disabled selected>Select Employee</option>
            <option *ngFor="let employee of employeeOptions" [value]="employee._id">{{ employee.name }}</option>
        </select>
    </div>
    <div class="buttons flex justify-end">
        <button class="custom-button btn bg-blue-500 hover:bg-blue-600 text-white font-semibold  rounded focus:outline-none focus:shadow-outline" (click)="handleResolve()">OK</button>
    </div>
</div>
</div>

