@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~@fortawesome/fontawesome-free/css/all.css";


body, html {
    margin: 0;
    padding: 0;
}


.custom-button {
    border: 2px solid #007ad9 !important; /* Set border */
    border-radius: 5px !important; /* Round corners */
    background-color: #007ad9 !important; /* Set background color */
    color: white !important; /* Set text color */
    padding: 5px 10px !important; /* Set padding */
    font-size: 14px  !important; /* Set font size */
  }
  
  .custom-button:focus {
    outline: none !important;
  }


  .logo-text{
    color: black;
    font-weight: bolder;
    font-size: 18px;
  }

  .header
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 28px ;
  font-weight: bolder;
}

th{ 
  background-color: #aec1d0;
  color: black;
  font-weight: bolder; 
} 



.table-container {
    margin-left: 20px; 
    margin-right: 20px;
}

.p-toolbar {
    background: none !important;
}

.p-button
{
    margin: 0px !important;
}

.p-button:focus
{
    outline: none !important;
}

.p-datatable .p-datatable-header {
    background: none !important;
}

.searchBar{
    border: 2px solid black !important;
    padding: 8px 9px !important;
    border-radius: 8px !important;
}

.searchBar:focus{
    outline: none !important;   
}

.search-icon{
    display: flex !important;
    justify-content: flex-end !important;
}


/* login.component.css */
.loader-overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 51, 51, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.custom-spinner {
    width: 50px; 
    height: 50px; 
}

.employee-view{
    background-color: rgba(241, 237, 232, 0.765);
}


.p-dialog .p-dialog-title {
   
}

svg.p-icon.p-sortable-column-icon
{
    display: inline-block !important;
}

// **formcss **//

label{
    font-size: 16px;
    color: grey;
}
input[type="tel"]{
    border: 1px solid black;
    padding: 6px 8px;
    font-size: 14px;
    margin-bottom: 7px;
}

input[type="number"]{
    border: 1px solid black;
    padding: 6px 8px;
    font-size: 14px;
    margin-bottom: 7px;
}
textarea{
    border: 1px solid black;
    padding: 6px 8px;
    font-size: 14px;
    margin-bottom: 7px;
}

select{
    border: 1px solid black;
    padding: 6px 8px;
    font-size: 14px;
    margin-bottom: 7px;
}


:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
}

.layout-news-active :host ::ng-deep .p-datatable tr > th {
    top: 7rem;
}

//scrollbar

::-webkit-scrollbar {
    width: 8px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #9d9c9c; 
    border-radius: 4px; 
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 3px; 
  }


  //Data table grid lines
  .p-datatable .p-datatable-tbody > tr  {
      border: 1px solid #dee2e6; 
      padding: 8px;
  }
  
  .p-datatable .p-datatable-thead > tr  {
      background-color: #f8f9fa; 
    }


    // dropdowns

  
    p-checkbox {
        border: 1px solid black;
    }


    .p-chips-token  {
        color: black;
        margin: 5px;
        margin-top: 13px;
    }
    

    .p-chips-input-token{
        height: 90px;
        margin-left: 7px;
    }

    .p-inputtext{
        margin-top: 15px;
        padding-top: 0px;
    }


    .p-chips  {
        border: none; 
        box-shadow: none;
        outline: none;
        margin-top: 4px;
    }
    .p-dropdown
    {
            border: 1px solid black;
    }

    
    .p-button-icon-left
    {
        margin-left: 10px !important;
    }


    i.pi.pi-search.search-icon {
        margin-top: 2px;
    }

    .p-dialog-header{
            border-bottom: 2px solid #ccc !important;
    }

    .p-dialog-title
    {
                color: #d90057 !important;
         margin-left: 26px !important;
    }
    
.p-checkbox-box.p-component {
    box-shadow: 0px 0px 3px 1px grey;
}



.p-inputtext.p-component.ng-star-inserted {
    border: 1px solid black !important;
    padding: 3px 4px !important;
    margin-top: 0px !important;
}


    @media print {
        .hello {
          visibility: hidden;
        }
        #printableArea {
          visibility: visible;
          position: absolute;
          left: 0;
          top: 0;
        }
    }